$fontTypes: (
  'regular':  (Webtips, sans-serif),
  'bold':     (WebtipsBold, sans-serif)
);

$fontWeights: (
  'regular':  400,
  'bold':     600
);

$fontSizes: (
  'xs':       12px,
  'sm':       14px,
  'md':       16px,
  'regular':  18px,
  'l':        21px,
  'xl':       24px,
  '2xl':      28px
);
